@page "/books/add"
@inject NavigationManager navManager;
@rendermode InteractiveServer

<PageTitle>Add Book</PageTitle>

<h1>Add Book</h1>

<Books.Api.Components.Components.AddBookForm></Books.Api.Components.Components.AddBookForm>